*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Light 300";
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/capa.png);
}
header .logo{
    margin-top: -20px;
    float: left;
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../assets/logo-danki.png);
    background-size: contain;
    background-position: center;
}

header nav{
    float: right;
}

nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../assets/menu-de-tres-linhas.png);
    background-size: 100% 100%;
    margin-top: 20px;
    cursor: pointer;
}

nav.mobile-menu ul{
    opacity: 1;
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 95px;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu:hover ul{
    display: block;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
}

nav.mobile-menu ul a{
    text-decoration: none;
    color: black;
}

nav.mobile-menu ul li {
    padding: 8px 0;
    transition: 1s;
    border-bottom:1px solid black ;
}

header nav.desktop-menu ul{
    list-style: none;
}

header nav.desktop-menu ul li{
    float: left;
    margin: 0 20px;
}

header nav.desktop-menu ul a{
    color: white;
    text-decoration: none;
}
.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
}
.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1{
    width: 100%;
    background-color: #472562;
    padding: 0px 2%;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao1{
    width: 50%;
    position: relative;
    left: 45px;
    float: left;
    color: white;
    margin-top: 40px;
    padding-left: 60px;
}

.texto-sessao1 h2{
    font-weight: 300;
}

.texto-sessao1 p{
    font-size: 15px;
    margin-top: 30px;
}

.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: outside;
    padding-left: 15px;
}


.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #ff5a00;
    width: 165px;
    height: 44px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.btn1-texto:hover{
    background-color: #ff703d;
}

.device-sessao1{
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
    height: 100%;
    background-image: url(../assets/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

.sessao2 h2{
    color: #472663;
    font-weight: 300;
}

.sessao2 p{
    color: #472663;
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.sessao2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 30px
}

.sessao2 .container{
    max-width: 1000px;
}

.sessao3{ 
    width: 100%;
}

.part1{
    color: white;
    float: left;
    width: 50%;
    padding:140px 0 90px 0;
    background-color: #835fa7; 
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.wraper-part1{
    max-width: 600px;
    float: right;
    padding:0 0 30px 0 ;
}

.part2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}

.sobre-autor{
    max-width: 600px;
    float: left;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.titulo-autor h2{
    font-weight: 400;
    font-size: 20px;
    color: #232323;
    padding-right: 40px;
}

.titulo-autor p{
    font-size: 15px;
    color: #232323;
    font-weight: 300;
    font-style: italic;
}


.wraper-titulo-autor{
    float: left;

}

.titulo-autor .img-autor{
    float: left;
    width:40px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-image: url(../assets/actor1.png);
    background-color: gray;
}

.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
    color: #232323;
    font-size: 15px;
}

.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 8px;
    padding-left: 30px;
    margin-top: 12px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(200,200,200);
}

section.sessao4 {
    background-color: #472563;
    padding: 100px 0;
}

.form {
    float: left;
    width: 50%;
    padding-left: 10px;
}

.form h2 {
    color: white;
    font-weight: 300;
    font-size: 23px;
}

.form p {
    color: white;
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    padding-right: 10px;
}

.form form {
    margin-top: 15px;
}

.form form input[type="text"] {
    width: 90%;
    max-width: 480px;
    height: 58px;
    margin-top: 5px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
}

.form form textarea {
    width: 90%;
    max-width: 480px;
    margin-top: 8px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
    height: 160px;
}

.form form input[type="submit"] {
    background-color: #ff5a00;
    width: 165px;
    height: 44px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
}

.form form input[type="submit"]:hover {
    background-color: #ff703d
}

.map-wraper {
    float: right;
    width: 50%;
    padding: 0 10px;
}

.map-wraper h2 {
    font-size: 23px;
    color: white;
    font-weight: 300;
}

.map{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid rgb(200, 200, 200);
} 

.map-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}

.map-wraper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

footer{
    padding: 40px 2%;
    background-color: #192123;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
    color: white;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
    color: white;
}



@media screen and (max-width: 890px){
    .chamada1{
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 170px 0;
    padding: 0 2%;
}

.chamada1 h2{
    font-size: 30px;
    padding: 0 10px;
    color: white;
    font-weight: 300;
}
.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
    
    
}


@media screen and (max-width: 768px){
    
    
    header{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/capa.png);
}




nav.desktop-menu{
    display: none;
}    

nav.mobile-menu{
    display: block;
    transform: 1s;
}   

section.sessao1 {
    padding: 40px 2%;
    height: auto;
    text-align: center;
}
.texto-sessao1{
    width: 100%;
    margin: 0;
    position: static;
    float: none;
    display: inline-block;
}

.btn1-texto{
    display: inline-block;
}

.text-sessao1 ul{
    display: inline-block;
    margin: 20px;
}

.texto-sessao1 ul li{
    float: none;
    text-align: left;
}

.device-sessao1{
    display: none;
}

.sessao2{
    padding: 40px 2%;
}

section.sessao4 .container{
    text-align: center;
}


.form p{
    float: none;
    display: inline-block;
}

.form{
    width: 100%;
    float: none;
}

.map-wraper{
    width: 100%;
    float: none;
    margin-top: 40px;
    padding: 0 4%;
}

.map-wraper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
}

.map-wraper3{
    margin-top: 10px;
    width: 80%;
    padding-top: 80%;
    display: inline-block;
    max-width: none;
    position: relative;

}

}

@media screen and (max-width: 580px){
    
    .part1{
        width: 100%;
         padding: 40px 
    }
    
    .part2{
        width: 100%;
    }


footer{
    text-align: center;
}

footer p:nth-of-type(1){
    float: none;
}

footer p:nth-of-type(2){
    float: none;
}

}
